{
  "name": "__PACKAGE_NAME__",
  "version": "0.1.0",
  "description": "__DESCRIPTION__",
  "main": "./lib/module/index.js",
  "types": "./lib/typescript/src/index.d.ts",
  "react-native": "src/index",
  "exports": {
    ".": {
      "source": "./src/index.ts",
      "types": "./lib/typescript/src/index.d.ts",
      "default": "./lib/module/index.js"
    },
    "./package.json": "./package.json"
  },
  "files": [
    "src",
    "lib",
    "android",
    "ios",
    "cpp",
    "*.podspec",
    "!ios/build",
    "!android/build",
    "!android/gradle",
    "!android/gradlew",
    "!android/gradlew.bat",
    "!android/local.properties",
    "!**/__tests__",
    "!**/__fixtures__",
    "!**/__mocks__",
    "!**/.*"
  ],
  "scripts": {
    "typecheck": "tsc --noEmit",
    "prepare": "bob build"
  },
  "keywords": [
    "react-native",
    "ios",
    "android"
  ],
  "author": "__AUTHOR__",
  "license": "MIT",
  "homepage": "https://github.com/CHANGEME/__POD_NAME__#readme",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/CHANGEME/__POD_NAME__.git"
  },
  "bugs": {
    "url": "https://github.com/CHANGEME/__POD_NAME__/issues"
  },
  "devDependencies": {
    "@types/node": "^22.0.0",
    "react": "19.2.3",
    "react-native": "0.86.0",
    "react-native-builder-bob": "^0.40.15",
    "typescript": "^5.9.2"
  },
  "peerDependencies": {
    "react": "*",
    "react-native": "*"
  },
  "react-native-builder-bob": {
    "source": "src",
    "output": "lib",
    "targets": [
      [
        "module",
        {
          "esm": true
        }
      ],
      [
        "typescript",
        {
          "project": "tsconfig.build.json"
        }
      ]
    ]
  },
  "codegenConfig": {
    "name": "__PREFIX__Spec",
    "type": "modules",
    "jsSrcsDir": "src",
    "android": {
      "javaPackageName": "__JAVA_PACKAGE__"
    }
  },
  "create-react-native-library": {
    "languages": "kotlin-objc",
    "type": "turbo-module",
    "version": "0.52.1"
  }
}
